body {
	font-family: "Muli", sans-serif;
	background-color: #FFE7B1;
}

hr {
	padding-bottom: 60px;
}

.navbar {
	background-color: #32383e;
}

.nav-link {
	padding-right: 60px;
}

.section-header {
	padding-bottom: 15px;
}

.section-header h2 {
	font-family: "Muli 900", sans-serif;
	font-weight: bold;
}

.tipbox {
	font-weight: bold;
	font-size: 12px;
	font-family: "Muli", sans-serif;
}

.d3-tip {
	line-height: 1;
	font-weight: normal;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
	pointer-events: none;
}

.section-header h3 {
	color: #464a4e;
	font-size: 24px;
}

.info-card {
	background-color: goldenrod;
}

.form-group {
	padding-left: 15px;
}

.title-header {
	padding: 15px 30px;
	padding-top: 60px;
}

.title-header h1 {
	font-family: "Muli 900", sans-serif;
	font-weight: bolder;
	font-size: 48px;
}

.title-header h3 {
	color: #464a4e;
	font-size: 24px;
}

#ccd-cause-info {
    padding: 40px 0px;
}

.chart-title {
	font-size: 140%;
}

/* Hexagon styles, adapted from: https://bl.ocks.org/mbostock/5249328?fbclid=IwAR3mm-lVv0is1fmY7ShvWgMCJEfRAPbjfcat7H6B1rTtMLeWaWcyT2V9LHM*/
.hexagon {
	fill: #FFB316;
	pointer-events: all;
}

.hexagon path {
	-webkit-transition: fill 250ms linear;
	transition: fill 250ms linear;
}

.hexagon :hover {
	opacity: .8;
}

.mesh {
	fill: none;
	stroke: #000;
	stroke-opacity: .2;
	pointer-events: none;
}

.border {
	fill: none;
	stroke: #000;
	stroke-width: 2px;
	pointer-events: none;
}

.area {
	clip-path: url(#clip);
}

/* adpated from http://bl.ocks.org/d3noob/a22c42db65eb00d4e369*/
div.tooltip {
	position: absolute;
	text-align: center;
	width: 125px;
	height: 50px;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}
