body {
	font-family: "Muli", sans-serif;
	background-color: #FFE7B1;
}

.section-header {
	padding-bottom: 15px;
}

.section-header h2 {
	font-family: "Muli 900", sans-serif;
	font-weight: bold;
}

.tip-label {

}

.d3-tip {
	line-height: 1;
	font-weight: normal;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
	pointer-events: none;
}

.section-header h3 {
	color: #464a4e;
	font-size: 24px;
}

.form-group {
	padding-left: 15px;
}

#title-header {
	padding: 15px 30px;
}

#title-header h1 {
	font-family: "Muli 900", sans-serif;
	font-weight: bolder;
	font-size: 48px;
}

#title-header h3 {
	color: #464a4e;
	font-size: 24px;
}